$gray-100: #e6e6fa;
$gray-200: #625261;
$gray-300: #a6a6a4;
$brown-200: rgba(167, 125, 82, 1);
$brown-100: rgba(254, 243, 195, 1);
$brown-300: rgba(67, 51, 28, 1);
$brown-400: #5e4e42;

@import url(//fonts.googleapis.com/css?family=Bree+Serif);
@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Anton);